<form class="create-form">

  <div class="form-group">
    <h4>Destination:</h4><br>
    <div class="form-group">
      <label for="ca">From:</label>
      <input type="Date" id="dateFrom" name="fromDate">
      <label for="ca">To:</label>
      <input type="Date" id="dateTo" name="toDate">
    </div>
    <div class="form-group col-md-4">
      <label for="inputCountry">Country</label>
      <select id="destinationCountry" class="form-control">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
    <div class="form-group col-md-3">
      <label for="inputState">State</label>
      <select id="destinationState" class="form-control">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
    <div class="form-group col-md-3">
      <label for="inputCity">City</label>
      <select id="destinationCity" class="form-control">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
    <button type="button" class="btn btn-outline-primary ml-4" id="add">Save and add another destination for the trip</button>
    <button type="button" class="btn btn-outline-primary ml-2 " id="done">Done!</button><br><br>
</form>
</div>