 <div class="card bg-light mb-3" id="add-destination">
  <div class="card-header">
    <h2>Add your Destinations</h2>
  </div>
  <div class="card-body">
    <h5 class="card-title" id="trip-name"></h5>
    <div class="row" style="margin:10px">
      <div class="col-6"><label for="ca">From:</label>
        <input type="Date" id="dateFrom" name="fromDate"></div>
      <div class="col-6"> <label for="ca">To:</label>
        <input type="Date" id="dateTo" name="toDate"></div>
    </div>
    <div class="form-group">
      <label for="category">Select Country:</label>
      <select class="custom-select" id="countries" onchange="getStates(this.options[this.selectedIndex].value)">
      </select>
    </div>
    <div class="form-group">
      <label for="category">Select State:</label>
      <select class="custom-select" id="states" onchange="getCities(this.options[this.selectedIndex].value)">
      </select>
    </div>
    <div class="form-group">
      <label for="category">Select City:</label>
      <select class="custom-select" id="cities">
      </select>
    </div>
    <button type="button" class="btn  ml-4" id="add-destination">Add another destination</button>
    <button type="button" class="btn  ml-2 " id="done-adding">Done!</button>
  </div>
</div> 