<div class="row">
  <div class="col-12">
    {{#each reviews}}
      <div class="card mt-1">
        <div class="card-header">
          <h5 class="mb-0">
              {{titleCategory}}
          </h5>
        </div>
        <div class="card-body">
          <p>{{review}}</p>
          <div>{{rating}}</div>
        </div>
        
      </div>
    {{/each}}   
  </div>
</div>

