<div class="container"style="margin : 0px auto;padding:0px" ></div>
<div class="jumbotron" style="margin : 5px auto;padding:60px" >
  <h1>Project NEXT</h1>
<div class="float-right" >
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="#">Sign-in</a>
  </li> 
  <li class="nav-item">
    <a class="nav-link" href="#">Sign-Up</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#"></a>
  </li>
</ul></div>
</div>
 


 


 