   
   <h2 >Review Search</h2>
   <div style="margin:20px">
   <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" id = "searchedPlace" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id ="searchButton">Search</button>
    </form></div>
  
  <div class="row" id = >
  <div class="col-3">
    <h4>Review Title</h4>
    <ul class="list-group" id= "list-group1">
      
    </ul>
  </div>

  <div class="col-2">
    <h4>Rating</h4>
    <ul class="list-group" id = "list-group2">
     
    </ul>
  </div>

  <div class="col-2">
    <h4>Comments</h4>
    <ul class="list-group" id = "list-group3">
      
    </ul>
  </div>

  <div class="col-5">