<div class="container-fluid ml-4">
  <br>
  <form class="create-form">
    <form id="trip" name="trio" method="post" action="/api/trips">
      <div class="form-group">



      </div>
    </form>
    <div class="card bg-light mb-3" style="">
      <div class="card-header">
        <h3>Add a trip</h3>
      </div>
      <div class="card-body">
        <div class="row" style="margin:5px">
          <div class="col-2"><label for="trip">Trip Name:</label></div>
          <div class="col-10"><input type="text" id="tripName" name="tripName"></div>
        </div>
        <div class="row" style="margin:5px">
          <div class="col-2"><label for="trip">Trip Start Date:</label></div>
          <div class="col-10"><input type="Date" id="tripStartDate" name="tripStartDate"></div>
        </div>
        <div class="row" style="margin:5px">
          <div class="col-2"><label for="ca">Trip End Date:</label></div>
          <div class="col-10"><input type="Date" id="tripEndDate" name="tripEndDate"></div>
        </div>
        <div class="row" style="margin:5px">
          <span id="message"></span></div>

      </div>
      <a class="btn btn-light" href="/api/trips" id="save-trip-btn">Save trip</a>
      <button class="btn btn-light" id="add-destination-btn" style="display:none">Add destinations</button>
    </div>

    <div class="card bg-light mb-3" id="add-destination" style="display:none">
      <div class="card-header"><h2>Add your Destinations</h2></div>
      <div class="card-body">
        <h5 class="card-title" id="trip-name">{{trip-name}}</h5>
        <div class="form-group">
          <label for="category">Select Country:</label>
          <select class="custom-select" id="countries">
          </select>
        </div>
         <div class="form-group">
          <label for="category">Select State:</label>
          <select class="custom-select" id="states">
          </select>
        </div>
         <div class="form-group">
          <label for="category">Select City:</label>
          <select class="custom-select" id="cities">
          </select>
        </div>
      </div>
    </div>



</div>