<div class="container-fluid ml-4">
  <h3>Add a trip</h3><br>
  <form class="create-form">
    <div class="form-group">
      <label for="trip">Trip Name:</label>
      <input type="text" id="tripName" name="tripName">
      <label for="trip">Trip Start Date:</label>
      <input type="Date" id="tripStartDate" name="tripStartDate">
      <label for="ca">Trip End Date:</label>
      <input type="Date" id="tripEndDate" name="tripEndDate"><br><br>
      <button type="submit" class="btn btn-outline-primary ml-4" id="saveTrip">Save trip</button>
      <button type="btn" class="btn btn-outline-primary ml-2 " id="addDestinations">Add destinations</button><br><br>
    </div>
  </form>
</div>