<div class="container-fluid ml-4">
  <h3>Add a trip</h3><br>
  <form class="create-form">
    <form id="trip" name="trio" method="post" action="/api/trips">
      <div class="form-group">
        <label for="trip">Trip Name:</label>
        <input type="text" id="tripName" name="tripName">
        <label for="trip">Trip Start Date:</label>
        <input type="Date" id="tripStartDate" name="tripStartDate">
        <label for="ca">Trip End Date:</label>
        <input type="Date" id="tripEndDate" name="tripEndDate"><br><br>
        <a class="btn btn-light" href="/api/trips" id="save-trip-btn">Save trip</a>
        <a class="btn btn-light" href="/destinations" id="add-destination-btn">Add destinations</a>
        {{!-- <button type="submit" class="btn btn-outline-primary ml-4" id="save-trip-btn">Save trip</button>
        <button type="btn" class="btn btn-outline-primary ml-2 " id="addDestinations">Add destinations</button><br><br> --}}
      </div>
    </form>
</div>
<script src="/js/trips.js"></script>
