body {
  font-family: 'Fira Sans', sans-serif;
  /* //background-image: url(../images/stardust.png) */
}

.list-group-item {
  line-height: 2.5;
}

#log-out-btn {
  display: none
}

.jumbotron {
  /* background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #444349 75%); */

  /* height: 0; */
  width: 100%;
  padding-bottom: 10px;
  /* position: relative; */
  padding: 40% 0 0;
  /* margin-bottom: 10px; */
  color: inherit;
  background-color: #f9f9f9;
  text-align: center;
  background-size: cover;
  background: contain;
  background-image: url(../images/adventure-travel-clipart-8.jpg);
  /* background-position: center; */

}

.jumbotron-text {
  text-align: top;
  color: green;
  padding: 10px;
  position: relative;

}

label {
  width: 140px;
}

/* ul
{
  
  background-color: rgba(0,0,0,0);
} */