body {
  font-family: 'Fira Sans', sans-serif;
  background-image: url(../images/stardust.png)
}

.list-group-item {
  line-height: 2.5;
}
#log-out-btn {
  display: none
}

<<<<<<< HEAD
=======
.jumbotron {
  background: #f8f9fa;
}

>>>>>>> 686343f7636f8f11e08659c3d267ff2bfd527397
label
{
  width:140px;
}
