body {
  font-family: 'Fira Sans', sans-serif;
  /* background-image: url(../images/stardust.png) */
}

.list-group-item {
  line-height: 2.5;
}
#log-out-btn {
  display: none
}

label
{
  width:140px;
}
